<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConverter"
        tools:targetApi="31">

        <activity
            android:name=".ConvertOptionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeConverterActivity" android:label="@string/label_time" />
        <activity android:name=".TemperatureConverterActivity" android:label="@string/label_temperature" />
        <activity android:name=".LengthConverterActivity" android:label="@string/label_length" />
        <activity android:name=".WeightConverterActivity" android:label="@string/label_weight" />
    </application>

</manifest>